<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<!-- el contenido es en el ion content como si fuera el body-->
<ion-content>
  
  <ion-button [routerLink]="['/alert']" routerLinkActive="router-link-active" >
    Alert
  </ion-button>
  <ion-button [routerLink]="['/action-sheet']" routerLinkActive="router-link-active" >
    Action-sheet
  </ion-button>
  <br>
  <br>
  <ion-list>
    <ion-item *ngFor="let c of componentes"
    [routerLink]="c.redirecTo"
    detail
    >
    <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
    {{c.name}}


    </ion-item>
    
  </ion-list>
  
</ion-content>
