<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>searchbar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border" mode="ios">


  <!-- Default Searchbar -->
  <!-- debounce para que espere ese teimpo a ejecutar -->
  <!-- ionchange para cuando cambio la informacionq ue tiene dentro -->
<ion-searchbar placeholder="Buscar magia"
animated
inputmode="text"
(ionChange)="onSearchChange($event)"
[debounce]="150"
>
  
</ion-searchbar>


<ion-list>
  

  <ion-item *ngFor="let item of albumes | filtro:textoBucar:'title'">
    <ion-label>{{item.title}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
