<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <!--de esta forma con defaultHref no se borra no se borra el tag de back
      text para cambiar la palabra que ponga 
    color para cambiar el color
  mode para forzar visualmente que se vea igual en android y en ios,
podemos poner ios o md-->
      <ion-back-button defaultHref="/"
      text="atras"
      color="primary"
      mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> 
