<app-header [nombreToolbar]="nombre||'inputs'"></app-header>

<ion-content class="ion-padding">


  <ion-list>
    <ion-list-header>
      <ion-label>primer input normal</ion-label>
    </ion-list-header>

<!-- hay diferentes tipos de inputs
van dentro del ilist -->
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" placeholder="nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input></ion-input>
    </ion-item>



    

  </ion-list>

<!-- creamos un formulario en el que queremos validar los campos -->
  <ion-label>Formulario</ion-label>
<!-- cuando le dan a submit envia toda la informacion del formulario -->
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list-header>
      <ion-label>Formulario valido:  {{formulario.valid}}</ion-label>
    </ion-list-header>

    <!-- importante poner siempre el name si no no funciona 
          el patern es una expresion regular
          con el ngmodel actualizamos la informacion de la propiedad del usuario-->
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" placeholder="name@email.com" 
      name="email"
            [(ngModel)]="usuario.email" required
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
    
    </ion-item>
<ion-item>
  <ion-label>Password:</ion-label>
  <ion-input type="password" placeholder="*******"
  name="password"
  [(ngModel)]="usuario.password" required></ion-input>
</ion-item>
<ion-button type="submit" expand="block" [disabled]="formulario.invalid">
  guardar
</ion-button>


  </form>


</ion-content>
